@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: var(--font-montserat);
}

h1 {
    font-family: var(--font-montserat-alternative);
}

body,
html {
    overflow-x: hidden;
}

.embla {
    position: relative;
    width: 100%;
    height: 300px;
}

.embla__viewport {
    overflow: hidden;
    width: 100%;
    height: 100%;
}

.embla__container {
    transform: none !important;
    will-change: opacity;
    position: relative;
    width: 100%;
    height: 100%;
}

.embla__slide {
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 700ms ease;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    background: #111;
    color: white;
}

.embla__slide.is-selected {
    opacity: 1;
    z-index: 2;
}

.overlay {
    background: linear-gradient(to top, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
