@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    font-family: var(--font-montserat);
}

h1 {
    font-family: var(--font-montserat-alternative);
}

body,
html {
    overflow-x: hidden;
}
